.HomepageNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 23px 0 20px 0;
  text-align: center;

  .nav-options {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    .nav-option {
      color: #FFF;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .8);
      padding: 0 15px;
      margin: 0;
      font-weight: 700;

      &:hover,
      &.--focused {
        color: $secondary-color;
      }
    }
  }
}

@media screen and (max-width: 988px) {
  .HomepageNav { 
    .nav-option {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 412px) {
  .HomepageNav {
    padding-left: 10px;
    min-width: 300px;

    .nav-options {
      max-width: 340px;
    }
  }
}