@import './variables.scss';

.App {
  background-color: #000;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #000;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.align-center {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.section-container {
  padding: 40px;
}

a {
  color: #FFF;
  font-weight: 800;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

i {
  &.fa-solid.fa-arrow-left-long {
    margin-right: 5px;
  }
}

input {
  background-color: unset;
  border: 2px solid $primary-color;
  padding: 10px;
  border-radius: 8px;
  color: #FFF;

  &:focus, 
  &:active {
    outline: none;
    border: 2px solid $secondary-color !important;
  }

  &::placeholder {
    color: $primary-color;
  }
}

.accented {
  color: $secondary-color;
}

.button, u {
  cursor: pointer;
}

.button {
  &.isDisabled {
    cursor: not-allowed;
  }

  &.-exit {
    margin: 0px;
    margin-bottom: 10px;
    text-align: right;
  }
}

.button-text {
  color: #FFF;

  &:hover {
    color: $secondary-color;
  }

  &.isDisabled {
    color: $accent-a-color;
    cursor: not-allow;
    
    &:hover {
      color: $accent-a-color;  
    }
  }

  &.isFocused {
    color: $secondary-color;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 100%;
  padding: 20px 0;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  // background-color: #f0f0f0;
  height: 80%;
  border-radius: 25px;
}

::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}

::-moz-scrollbar {
  width: 4px;
  height: 100%;
  padding: 20px 0;
}

::-moz-scrollbar-thumb {
  background-color: #FFC655;
  border-radius: 25px;
}

::-moz-scrollbar-track {
  background-color: #f0f0f0;
  height: 80%;
  margin: 40px 0;
  padding-right: 20px;
  border-radius: 25px;
}